@layer base {
  .classify {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @apply m-0;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }
  
    ol,
    ul {
      @apply m-0 p-0 list-none;
    }
  
    img,
    svg {
      @apply block align-middle;
    }
  
    *,
    ::before,
    ::after {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: theme('borderColor.DEFAULT', currentColor);
    }

    button {
      @apply cursor-pointer;
    }
  }
}